# Finder  & Explorers files
.DS_Store
._*
Thumbs.db

# Build outputs
build
out

# IDE & build system config
.idea
.project
.classpath
.vscode
gradle.properties
.gradle

# Temporary and backup files
.debhelper
*.debhelper.log
*.substvars
debhelper-build-stamp
packaging/debian/adoptium-ca-certificates
packaging/debian/files
